@font-face {
  font-family: "Cafe24ProUp";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2507-1@1.0/Cafe24PROUP.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

:root {
  background-color: var(--color-dark);
  color: var(--color-text1);

  --color-primary: #7c3aed;
  --color-secondary: #06b6d4;
  --color-accent: #ec4899;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
  --color-text1: #e2e8f0;
  --color-text2: #0f172a;
}
